<div *ngIf="recipes.length == 0; else showTable">
    You have no recipes yet!
  </div>
  <ng-template #showTable>
    <!-- https://getbootstrap.com/docs/4.5/content/tables/#hoverable-rows -->

    <table class="table table-striped table-dark">
      <thead>
        <tr class="row px-4">
          <th class="col-2">Recipe id</th>
          <th class="col-2">Recipe name</th>
          <th class="col-2">Recipe Category</th>
          <th class="col-5">Recipe Description</th>
          <th class="col text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <app-recipes-item [recipe]="recipe" (deleteRecipe)="deleteRecipe(recipe)" class="row px-4"></app-recipes-item>
        </tr>
      </tbody>
    </table>
  </ng-template>
