<div class="container text-center">
  <h2>Add a recipe</h2>
  <div class="row mt-2">
      <div class="col-10 offset-1">
          <form [formGroup]="addRecipeForm" (ngSubmit) = "submit()">
              <div class="form-group">
                  <input formControlName="name" type="text" placeholder="Recipe Name" class="form-control"
                  [class.is-invalid] = "addRecipeForm.get('name')?.errors && addRecipeForm.get('name')?.touched && addRecipeForm.get('name')?.dirty">
                  <div class="invalid-feedback text-left">
                      Provide a valid name (3 caracters minimum)
                  </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Category</label>
                </div>
                <select class="custom-select" formControlName="category">
                  <option value="1">Breakfast</option>
                  <option value="2">Dinner</option>
                  <option value="3">Lunch</option>
                </select>
              </div>

              <div class="form-group">
                  <textarea formControlName="description" placeholder="description" class="form-control" rows="5"
                  [class.is-invalid] = "addRecipeForm.get('description')?.errors && addRecipeForm.get('description')?.touched && addRecipeForm.get('description')?.dirty"></textarea>
                  <div class="invalid-feedback text-left">
                  Provide a valid description (10 caracters minimum)
                  </div>
              </div>

              <button [disabled] = "addRecipeForm.invalid" class="btn btn-primary btn-block" type="submit">Save recipe</button>

              <a [routerLink]='["/recipes"]' class="btn btn-outline-secondary btn-block mt-4" role="button">Cancel</a>
          </form>
      </div>
  </div>
</div>
