<div class="fixed-top">
    <div class="row">
      <div class="col text-center bg-white">
        <h1>Recipeasy!</h1>
      </div>
    </div>

    <!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
    <nav class="navbar navbar-expand navbar-dark bg-dark" style="height: 50px;">
      <div class="mr-4">
        <select class="custom-select" (change)="changeLang($event)">
        <option value="en">English</option>
        <option value="fr">Français</option>
         </select>
      </div>
        <div *ngIf="isLoggedIn" class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a [routerLink] = "['/recipes']" class="text-light">{{'recipes' | translate}}</a>
                </li>
            </ul>

            <a [routerLink] = "['/profile']" class="text-light mr-4">Profile</a>
            <button (click)="logOut()" type="button" class="btn btn-outline-light">{{'logOut' | translate}}</button>
        </div>
    </nav>
  </div>

  <div class="pt-4 w-75 " style="margin: 112px auto">
    <router-outlet></router-outlet>
  </div>
