<td class="col-2">{{ recipe.id }}</td>
<td class="col-2">{{ recipe.name }}</td>
<td class="col-2">{{ categoryName }}</td>
<td class="col-4">{{ recipe.description }}</td>
<td class="col text-center text-lg"><a [routerLink] ="['/editRecipe', recipe.id]"><i class="fa fa-pencil text-danger"></i></a></td>
<td class="col text-center text-lg"><i class="fa fa-trash text-danger" (click)="deleteItem()"></i></td>

