<div class="container text-center">
  <div>{{'warningMsg' | translate}}</div>
  <div>{{'auth' | translate}}</div>
  <ul style="list-style-type:none;">
    <li>a@a : aaa</li>
    <li>b@b : bbb</li>
    <li>c@c : ccc</li>
  </ul>
    <div class="row mt-2">
        <div class="col-10 offset-1">
            <!-- https://getbootstrap.com/docs/4.5/components/forms -->
            <form [formGroup]="loginForm" (ngSubmit) = "logIn()">
                <div class="form-group">
                    <input formControlName="email" type="email" placeholder="{{'email' | translate}}" class="form-control" [class.is-invalid] = "loginForm.get('email')?.errors && loginForm.get('email')?.touched && loginForm.get('email')?.dirty">
                    <div class="invalid-feedback text-left">
                      {{'emailValidation' | translate}}
                    </div>
                </div>

                <div class="form-group">
                    <input formControlName="password" type="password" placeholder="{{'password' | translate}}" class="form-control" >
                </div>

                <button [disabled] = "loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">{{'signIn' | translate}}</button>

                <a [routerLink]='["/signup"]' class="btn btn-outline-success btn-block mt-4 mb-4" role="button">{{'signUp' | translate}}</a>
            </form>
        </div>
    </div>
</div>
