<div class="container text-center">
    <div class="row mt-2">
        <div class="col-10 offset-1">
            <form [formGroup]="signUpForm" (ngSubmit) = "submit()">
                <div class="form-group">
                    <input formControlName="email" type="email" placeholder="Email" class="form-control" 
                    [class.is-invalid] = "signUpForm.get('email')?.errors && signUpForm.get('email')?.touched && signUpForm.get('email')?.dirty">
                    <div class="invalid-feedback text-left">
                        Provide a valid email
                    </div>
                </div>

                <div class="form-group">
                    <input formControlName="password" type="password" placeholder="Password" class="form-control" 
                    [class.is-invalid] = "signUpForm.get('password')?.errors && signUpForm.get('password')?.touched && signUpForm.get('password')?.dirty">
                    <div class="invalid-feedback text-left">
                        Provide a valid password
                    </div>
                </div>

                <div class="form-group">
                    <input formControlName="passwordConfirmation" type="password" placeholder="Password confirmation" class="form-control" >
                </div>

                <button [disabled] = "signUpForm.invalid" class="btn btn-success btn-block" type="submit">Create my account</button>

                <a [routerLink]='["/"]' class="btn btn-outline-secondary btn-block mt-4" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div> 